@charset "UTF-8";

.header {
  height: 155px;
  background-image: url(../images/header.jpg);
  background-size: cover;
}

.header .site-title{
  margin-top: 0;
  text-align: center;
  line-height: 155px;
}

.header .site-title a {
  color: white;
}

.contents-wrapper {
  width: 970px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}
